@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-primary: #6b21e8;
  --color-background: #eeeef8;
  --color-dark: #1c1c2e;
}
